.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background-color: steelblue;
}

.navbarContainerDark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background-color: gray;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
